/*global style*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0;}
body { 
	font: 14px/2 "Microsoft Yahei",tahoma,"宋体",sans-serif;
	height: 100%;
	font-weight: lighter;
}
h1{font-size: 20px;line-height: 24px}
h2{font-size: 16px;line-height:18px; }
hr{width: 1000px;}
a{color: #0d9572;}
a:hover{color: #91cebe;}
.display-none{display: none;}
.none-href{color: #fff;text-decoration: none;}
.none-href:visited{color: #fff}
.icon{
	width: 45px;height: 45px;overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/iconsprite.png);
}
.ico-next{background-position: -90px 0;}
.ico-next:hover{background-position: -135px 0;}
.ico-prev{background-position: 0 0;}
.ico-prev:hover{background-position: -45px 0;}
/*global style end*/

/**************************************main page style***************************/
.wrapper{
	width: 1000px;min-height: 700px;
	margin: 0 auto;
	position: relative;
}
#canvas-wrapper{position: absolute;left: 0;top:0;}
.main{width: 900px;height: 100%;}
.main{
	margin-left: 100px;height: 700px;
	position: relative;
}
#main-bg{position: absolute;z-index: 1;}
.nav-box{
	position: absolute;z-index: 10; 
	color: #fff;
	width:180px;height: 180px;
	overflow: hidden;
}
.nav-box:hover,.nav-content:hover,.ico-prev:hover,.ico-next:hover{cursor: pointer;}
.nav-content{
	text-align: center;vertical-align: middle;
	width: 180px;height: 180px;
	border-radius: 50%;
}
.nav-content .nav-title{
	font-size: 20px;line-height: 30px;padding-top: 75px;
	font-weight: lighter;
}
/*for news*/
#news{
	z-index: 1;
	left: 358px;width: 360px;
	top:116px;height: 360px;
	background: #eee;
}
#news .nav-content{
	position: absolute;left: 0;top: 0;
	width: 510px;height: 510px;
	margin-top: -75px;margin-left: -75px;
	cursor: pointer;
}
#news .img-gallary li,.img-news{width: 100%;height: 100%;}
#news .img-gallary li{width: 510px;height: 510px;}
#news .ico-prev{
	position: absolute;z-index: 1000;
	bottom: 10px;left: 10px;margin-top: -23px;
}
#news .ico-next{
	position: absolute;z-index: 1000;
	top: 10px;right: 10px;
}
/*news end*/
#about{
	left: 193px;top:332px;
	background: #78dacb;
}
#product{
	left: 193px;top:79px;
	background: #fd5e5e;
}
#join{
	left: 66px;top:460px;
	background: #9b79fe;
}
#cooperation{
	left: 320px;top:460px;
	background: #9adc77;
}
#contact{
	left:-100px;top:160px;
	color: #888;
	background: #eee;
}
/**************************************main page style end***************************/



/*********************************details page***************************************/
.details{min-width:900px;width: 1000px;margin-top:100px;}
.page-detail{display: none; margin:20px 0;color: #777;}
.page-detail h1{margin: 20px 0;padding-left: 10px;background: #91cebe;color: #fff;font-weight: lighter;}
.page-detail h2{margin: 10px 0;color: #555;font-weight: lighter;border-left: 7px solid #91cebe;padding-left: 10px;}
/*page-job*/
.job{padding-bottom: 20px;}
/*page-job end*/

/******************************footer*******************************************/
.footer{
	position: absolute;
	bottom: 0;width: 1000px;
	text-align: center;
	color: #999;
	padding-bottom: 10px;
	background: #fff;
	margin-bottom: -50px;
}